.card {
  box-shadow: 0 0 30px #625f5f7c;
}


.login_form {
  width: 400px !important;
  background-image: repeating-linear-gradient(to right, #587873e1 , #96b293e7);
  border-radius: 25px;

}

.form-control {
  height: 3rem !important;
}

